# dependencies
node_modules/

# build output
dist/
build/

# env
.env
.env.local
*.env
!.env.example

# test / coverage
coverage/

# prisma
*.db

# logs
*.log
npm-debug.log*

# os / editor
.DS_Store
.idea/
.vscode/
